<% @lessons.each do |lesson| %>
    <% if lesson.system == "Linux" %>
        <tr>
          <td>
            <%= link_to lesson do %>
                <%= lesson.subject %>
            <% end %>
          </td>
          <td></td>
          <% if signed_in? %>
              <td class="text-right">
                <span class="glyphicon glyphicon-floppy-open" aria-hiden="true"></span>
                <%= link_to lesson, method: :delete, data: {confirm: "Are you sure?"} do %>
                    <span class="glyphicon glyphicon-remove" aria-hiden="true"></span>
                <% end %>


              </td>

          <% end %>
        </tr>

    <% end end %>