<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Cisco site</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/windows">Windows</a></li>
        <li><a href="/linux">Linux</a></li>
        <li><a href="/trivias">Trivias</a></li>
      </ul>
      <% !unless user_signed_in? %>
          <%= render 'layouts/login' %>
      <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="text-center" style="padding-top: 1.1em; color: white;">Logged
                as:&nbsp <%= current_user.nickname %></div>
            </li>
            <% if current_user.nickname == "admin" %>
                <li><%= link_to 'Add lesson', new_lesson_path %></li>
            <% end %>
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          </ul>
      <% end %>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input class="form-control" placeholder="Search" type="text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</nav>
